.landingPage {
  background-color: #f7f8f8;
  height: 100vh;
  margin-top: -1px;
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10em;
  font-family: "Grandstander", cursive;
}

.landingPage_title_text {
  color: #0641ad;
}

.landingPage_reg_login_container {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
