.register_button {
  background-color: #0641ad;
  color: white;
  padding: 10px;
  border-radius: 99px;
  border: 1px solid #0641ad;
  outline-width: 0;
  transition: 0.3s;
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
  font-family: "Grandstander", cursive;
}

.register_button:hover {
  background-color: #4a69bd;
  cursor: pointer;
}

.register_button:active {
  background-color: #4a69bd;
  cursor: pointer;
}

.register_form {
  display: grid;
  grid-template-columns: 1fr;
  width: 500px;
  margin: 0 auto;
}

.register_form > .register_form_username,
.register_form_email,
.register_form_password,
.register_form_password2 {
  margin: 5px;
  border-radius: 10px;
  height: 40px;
  outline-width: 0;
  font-size: 20px;
  font-family: "Grandstander", cursive;
}

.register {
  display: grid;
  grid-template-rows: 0.5fr 4fr;
  margin: 0 auto;
  padding: 20px;

  background-color: #f7f8f8;
}

.register_title {
  display: grid;
  height: 130px;
  text-align: center;
  font-family: "Grandstander", cursive;
  color: #4a69bd;
  grid-template-rows: 0.5fr 1fr;
}

.register_title h1 {
  /* font-weight: bolder; */
}

.register_title_logo {
  height: 80px;
  text-align: center;
}

.register_redirectMessage h2 {
  text-align: center;
  margin-top: 20px;
  color: #222323;
}
